<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All travel personas
    </h1>

    <a href="/travel_personas/new" class="btn btn-block btn-outline-secondary">
      Add a new travel persona
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "travel_persona_templates/travel_personas_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Party level
        </th>

        <th>
          Age cohort
        </th>

        <th>
          Activities
        </th>

        <th>
          City
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @travel_personas.each do |travel_persona| %>
      <tr>
        <td>
          <%= travel_persona.id %>
        </td>

        <td>
          <% if travel_persona.user.present? %>
            <a href="/users/<%= travel_persona.user.id %>">
              <%= travel_persona.user.email %>
            </a>
          <% end %>
        </td>

        <td>
          <% if travel_persona.party_level.present? %>
            <a href="/energy_levels/<%= travel_persona.party_level.id %>">
              <%= travel_persona.party_level.party_level %>
            </a>
          <% end %>
        </td>

        <td>
          <% if travel_persona.age_cohort.present? %>
            <a href="/age_groups/<%= travel_persona.age_cohort.id %>">
              <%= travel_persona.age_cohort.age_cohort %>
            </a>
          <% end %>
        </td>

        <td>
          <% if travel_persona.activities.present? %>
            <a href="/activities/<%= travel_persona.activities.id %>">
              <%= travel_persona.activities.name %>
            </a>
          <% end %>
        </td>

        <td>
          <% if travel_persona.city.present? %>
            <a href="/cities/<%= travel_persona.city.id %>">
              <%= travel_persona.city.city_name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(travel_persona.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(travel_persona.updated_at) %> ago
        </td>

        <td>
          <a href="/travel_personas/<%= travel_persona.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @travel_personas, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
