<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All cities
    </h1>

    <a href="/cities/new" class="btn btn-block btn-outline-secondary">
      Add a new city
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "city_templates/cities_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          City name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @cities.each do |city| %>
      <tr>
        <td>
          <%= city.id %>
        </td>

        <td>
          <%= city.city_name %>
        </td>

        <td>
          <%= time_ago_in_words(city.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(city.updated_at) %> ago
        </td>

        <td>
          <a href="/cities/<%= city.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @cities, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
