<h1>
  Edit activity #<%= @activity.id %>
</h1>

<hr>

<form action="/update_activity/<%= @activity.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @activity.name %>">
  </div>

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @activity.user_id %>">
  </div>

  <div class="form-group">
    <label for="start_date">
      Start date
    </label>

    <input type="text" id="start_date" name="start_date" class="form-control" value="<%= @activity.start_date %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update activity
  </button>
</form>

<hr>

<a href="/activities">
  Go back
</a>
