<!-- Form travel_persona start -->
<form action="/create_travel_persona_from_energy_level" method="post">
<!-- Form travel_persona end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @travel_persona.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for party_level_id start -->
  <!-- Input for party_level_id start -->
  <input type="hidden" name="party_level_id" value="<%= @energy_level.id %>">
  <!-- Input for party_level_id end -->

  <!-- Label and input for age_cohort_id start -->
  <div class="form-group">
    <label for="age_cohort_id">
      Age cohort
    </label>

    <!-- Input for age_cohort_id start -->
    <input type="text" id="age_cohort_id" name="age_cohort_id" class="form-control" value="<%= @travel_persona.age_cohort_id %>">
    <!-- Input for age_cohort_id end -->
  </div>
  <!-- Label and input for age_cohort_id end -->

  <!-- Label and input for activities_id start -->
  <div class="form-group">
    <label for="activities_id">
      Activities
    </label>

    <!-- Input for activities_id start -->
    <input type="text" id="activities_id" name="activities_id" class="form-control" value="<%= @travel_persona.activities_id %>">
    <!-- Input for activities_id end -->
  </div>
  <!-- Label and input for activities_id end -->

  <!-- Label and input for city_id start -->
  <div class="form-group">
    <label for="city_id">
      City
    </label>

    <!-- Input for city_id start -->
    <input type="text" id="city_id" name="city_id" class="form-control" value="<%= @travel_persona.city_id %>">
    <!-- Input for city_id end -->
  </div>
  <!-- Label and input for city_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create travel persona
  </button>
</form>
